# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# and the kernel objects:
*.cmd
.tmp_versions/
Module.symvers
modules.order
*.ko
*.mod.c
